.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-title {
    font-size: 2rem;
}

.count-card {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 5px var(--shadow);
    border-radius: 8px;
}

.count-card .icon-bg {
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: var(--accent);
}

.count-card .icon-bg img {
    height: 1.5rem;
    filter: invert(27%) sepia(15%) saturate(5407%) hue-rotate(201deg) brightness(94%) contrast(90%);
}

.counter {
    font-size: 1.8rem;
    font-weight: 700;
}

.counter-desc {
    font-size: 1rem;
    color: var(--heading);
}

.function {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 5px var(--shadow);
}

.search {
    display: flex;
}

.search-box {
    width: 100%;
    padding: 0.5rem;
    justify-self: left;
    font-size: 1rem;
    background-color: var(--accent);
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.search-btn {
    padding: 0.5rem 1rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--secondary);
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    transition: 0.1s;
}

.search-btn:hover, .add-btn:hover {
    background-color: var(--primary);
}

.add-btn {
    margin-left: auto;
    padding: 0.5rem 2rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.summary {
    padding: 1rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 5px var(--shadow);
}

.table-header {
    display: flex;
    margin-bottom: 1rem;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.page-slider {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--accent);
    border-radius: 10px;
}

.page-slider li {
    margin: 0 0.5rem;
    color: var(--heading);
    font-weight: 700;
    cursor: pointer;
}

.page-slider .active {
    padding: 0.35rem 0.7rem;
    text-align: center;
    color: #fff;
    background-color: var(--secondary);
    border-radius: 5px;
}

.page-slider button {
    padding: 0.1rem 0.25rem;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    cursor: pointer;
}

.page-slider button:hover {
    background-color: var(--background);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-headings {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--accent);
}

.table th {
    padding: 0.5rem;
    color: var(--heading);
}

.table-row {
    text-align: center;
    border-bottom: 2px solid var(--accent);
}

.table td {
    padding: 0.5rem;
}

.editing-btns {
    display: flex;
    justify-content: end;
}

.editing-btns img {
    height: 1rem;
    margin: 0 0.25rem;
    cursor: pointer;
    filter: invert(27%) sepia(15%) saturate(5407%) hue-rotate(201deg) brightness(94%) contrast(90%);
}

.editing-btns img:hover {
    filter: invert(40%) sepia(72%) saturate(2993%) hue-rotate(211deg) brightness(86%) contrast(89%);
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
}